* {
    box-sizing: border-box;
}

body {
    padding: 20px;
    background-color: #000;
}

.section {
    width: 500px;
    background-color: #505050;
    border: 1px solid #fff;
    margin-bottom: 50px;
}

.section form {
    border: 1px solid #fff;
    margin: 20px 30px;
    padding: 20px 70px;
}

.section .contact {
    padding: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
        
}

.section input {
    padding: 15px 60px;
    margin-bottom: 15px;
}

.section .contact, .section input {
    width: 300px;
    background-color: #4a4a4a;
    border-radius: 30px;
    box-shadow: 0 0 10px #3c3c3c inset;
    border: none;
    outline: none;
}

.section input[type="submit"] {
    color: #fff;
    background-color: #0796d5;
    width: 300px;
    padding: 15px;
    border-radius: 30px;
    font-size: 15px;
    box-shadow: 0 0 10px #3c3c3c;
}

.section input[type="submit"]:hover {
    cursor: pointer;
}

.section .your_name, .your_tel {
    position: relative;
}

.fas.fa-user, .fas.fa-phone-square {
    position: absolute;
    top: 1%;
    left: 1%;
    background-color: #0796d5;
    color: #fff;
    padding: 13px;
    border-radius: 50%;
}

.section_1 {
    width: 500px;
    background-color: #484b53;
    color: #fff;
    padding: 50px;
    margin-bottom: 50px;
}

.title-header {
    font-size: 30px;
    text-align: center;
}

.title-content {
    line-height: 1.2;
    text-align: center;
}

.section_1 input, .section_1 button {
    width: 400px;
    margin: 10px 0;
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    background-color:  #484b53;
    border-radius: 30px;
    outline: none;
    color: #fff;
    
}

.section_1 input:focus {
    border: 1px solid green;
}

.section_1 button {
    text-transform: uppercase;
    color: #fff;
    background-color: #30ad64;
    border: none;
    
    font-size: 20px;
    font-weight: normal;
}

.section_1 button:hover {
    cursor: pointer;
}

.section_1 input::placeholder {
    color: #fff;
}

.section_2 {
    width: 500px;
    background-color: #00bd9b;
}

.section_2 .wrapper {
    clear: both;
}


.section_2 form {
    display: inline-block;
    width: 200px;
    background-color: #eef0f2;
    margin: 50px 0 30px;
    padding: 15px;
    border-radius: 5px;
    text-align: center; 
}


.icon {
    width: 200px;
    display: inline-block;
    float: left;
}

.text {
    padding-left: 45px;
    color: #fff;
    font-size: 19px;
}

.text.text-1 {
    margin: 10px 0 5px;
}

.text.text-2 {
    font-weight: bold;
}


.section_2 input, .section_2 button {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 10px;
    width: 170px;
}


.section_2 input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bdcfd9;
    opacity: 1; /* Firefox */
}

.section_2 input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bdcfd9;
}

.section_2 input::-ms-input-placeholder { /* Microsoft Edge */
    color: #bdcfd9;
}

.section_2 input:focus {
    border: 1px solid #29c7aa;
}

.section_2 button {
    color: #fff;
    background-color: #00bd9b;
    margin-bottom: 10px;
    
}

.section_2 button:hover {
    cursor: pointer;
}

.section_2 a {
   text-decoration: none;
   color: #bcc5c6;
   font-size: 10px;
}

.section_2 a:hover {
    color: #00bd9b;
}

.user, .lock {
    position: relative;
}

.section_2 .fa.fa-user, .section_2 .fa.fa-lock {
    position: absolute;
    right: 5%;
    top: 30%;
    font-size: 10px;
    
}

.section_2 .fa.fa-user {
    color: #00ba9a;
}

.section_2 .fa.fa-lock {
    color:#bccacb;
}